extends frame.pug

block body
  .container
    .row
      each page in pages
        .col-sm-12.col-md-6.col-lg-4
          a(href='./'+page.name+'.html')
            .card
              img.card-img-top.w100per(src='./link/'+page.name+'.png')
              .card-block
                .card-title
                  h4(style='display:inline')= page.title
                  h3(style='display:inline').prize
                p.card-text= page.outline

block include
  script(src="./js/storage.js" charset="utf-8")
  script(src="./js/prize.js" charset="utf-8")
