extends _frame.pug

block body
  .container
    h1#title= title
    div
      each page in pages
        .box
          img.link-img(src='./link/'+page.name+'.png')
          h1
            |#{page.title}
            span.prize
          p= page.outline
          a(href='./'+page.name+'.html')
  script(src="./js/jquery-1.11.3.min.js" charset="utf-8")
  script(src="./js/storage.js" charset="utf-8")
  script(src="./js/prize.js" charset="utf-8")
